/* Gaya underline untuk tampilan besar */
.navbar-nav .nav-link.underline {
    position: relative;
    display: inline-block;
    color: black;
  }
  
  .navbar-nav .nav-link.underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease-out;
    transform: translateX(-50%);
    transform-origin: center;
  }
  
  .navbar-nav .nav-link.underline:hover::after {
    width: 100%;
    transform: translateX(-50%);
  }
  
  @media (max-width: 768px) {
    .navbar-nav .nav-link.underline::after {
      display: none;
    }
    .hide-profile{
      display: none;
    }
  }
  @media (min-width: 768px){
    .hide-logout{
      display: none;
    }
  }

  .iconday2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    font-size: 30px;
  }

  .iconday2 a {
    color: black;
    border-radius: 50%;
}

.iconday2 a {
    transition: 0.5s ease;
}

.iconday2 a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease;
}

.iconday2-2 {
    display: none;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
    font-size: 30px;
    margin-left: 70px;
}

.iconday2-2 a {
    color: black;
    border-radius: 50%;
}
  